.modal {
    position:fixed;
    width:50%;
    margin:0 auto;
    margin-top: 15%;
    margin-left:25%;
    background: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

.modal_header {
    padding: 1rem;
    background: blanchedalmond;
    color: black
}

.modal_content {
    padding: 1rem;
}

.modal_actions {
    display: flex;
    padding:2%;
}

/* .modal_actions > .formActionsButton {
    margin-left:0%;
} */