.appContainer {
    display: grid;
    grid-template-columns: [left-pane] 10% [main-pane] 80% [right-pane] 10% [end];
    grid-template-rows: [nav] 10% [row1] 35% [row2] 35% [bottom-section] 20% [end];
    height:100%;
}